{% extends "base.html" %}
{% block title %}Greeter Form V1{% endblock %}
{% block content %}

<div class="container">
    <h1 class="mb-4">Welcome to Python coding!</h1>
    <div class="jumbotron">
        <h1 class="display-4">Python 3</h1>
        <p class="lead">Python is a dynamically typed language, rather than statically typed, so you write a lot
            less code to achieve the same functionality.</p>
        <hr class="my-4">



        <p>Python, Flask &amp; Jinja</p>
        <a class="btn btn-dark btn-sm" href="#" role="button">Learn more</a>
    </div>
</div>

{% endblock %}